//Colours
$main-orange: #f49125;
$main-yellow: #fec925;
$main-lightgreen: #c9e3da;
$main-green: #59b18f;
$main-blue: #02b1ce;
$main-grey: #2d2d2c;
$main-lightgrey: #d9dad9;
$main-white: #ffffff;

//Fonts
$header-font: 'Raleway', sans-serif;
$body-font: 'Varela Round', sans-serif;

$fullscreen: 92vh;

