@import '_vars';
@import 'modules/_header';
@import 'modules/_intro';
@import 'modules/_video';
@import 'modules/_explore';
@import 'modules/_gallery';
@import 'modules/_register';
@import 'modules/_footer';

h1 {
    font-family: $header-font;
    text-transform: uppercase;
    font-size: 3em;
}

h2 {
    font-family: $header-font;
    text-transform: uppercase;
    font-size: 2em;
}

h3 {
    font-family: $header-font;
    text-transform: uppercase;
}

h4 {
    font-family: $header-font;
    text-transform: uppercase;
    font-size: 1.6em;
}