#introSection {
    height: $fullscreen;
    text-align: center;
    padding: 15% 8%;

    h2 {
        margin-bottom: 5%;
    }

    p {
        margin-bottom: 10%;
    }

    a {
        background-color: $main-yellow;
        border-radius: 25px;
        padding: 5%;
        color: $main-white;
        font-family: $header-font;
        transition: .5s;
    }

    a:hover {
        background-color: #eab01f;
    }
}