#regForm {
    background-color: $main-lightgreen;
    padding: 10% 15%;

    h2 {
        text-align: center;
    }

    label {
        font-family: $header-font;
        font-size: 1em;
    }

    button {
        display: block;
        background-color: $main-yellow;
        border-radius: 20px;
        padding: 5%;
        color: $main-white;
        font-family: $header-font;
        transition: .5s;
        margin-top: 10%;
        float: right;
    }
    button:hover {
        background-color: darken($main-yellow, $amount: 10);
        cursor: pointer;
    }
}

@media screen and (min-width: 64.063em) { /* min-width 1025px, large screens */ 
    #regForm {
        button {
            padding: 2% 5%;
            margin-top: 5%;
        }

        label {
            font-size: 1.6em;
        }
    }
    
}