#introSection {
    height: $fullscreen;
    text-align: center;
    padding: 15% 8%;

    h2 {
        margin-bottom: 5%;
    }

    p {
        margin-bottom: 10%;
    }

    a {
        background-color: $main-yellow;
        border-radius: 25px;
        padding: 5%;
        color: $main-white;
        font-family: $header-font;
        transition: .5s;
    }

    a:hover {
        background-color: #eab01f;
    }
}

h1 {
    font-family: $header-font;
    text-transform: uppercase;
    font-size: 3em;
}

h2 {
    font-family: $header-font;
    text-transform: uppercase;
    font-size: 2em;
}

h3 {
    font-family: $header-font;
    text-transform: uppercase;
}

h4 {
    font-family: $header-font;
    text-transform: uppercase;
    font-size: 1.6em;
}

p {
    font-family: $body-font;
}